
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #000;
  height: 100vh;
}

/* 
   Navegação
*/
.navegacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  max-width: 1280px;
  margin: 0 auto;
}

.logo a {
  font-family: 'Orbitron', sans-serif;
  font-size: 28px;
  color: #00ffe1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.logo a:hover {
  color: #00bfa5;
  transition: 2s;
  text-shadow: 0 0 6px #00ffe1;
}

.logo span {
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.navegacao nav ul {
  display: flex;
  list-style: none;
}

.navegacao nav ul li {
  padding: 0 20px;
}

.navegacao nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.navegacao nav ul li a:hover {
  color: #00ffe1;
  transition: 2s;
}

/*
   Titulo do container
*/
.container h2 {
  color: #00bfa5;
  text-align: center;
  padding: 30px;
  font-size: 2em;
  font-weight: bold;
}

/* 
   Cards-Projeto
*/
.projetos-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card-projeto {
  background-color: #1e1e1e;
  border: 2px solid #00ffe1;
  border-radius: 16px;
  width: 480px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 255, 225, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-projeto img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 15px;
  object-fit: cover;
}

.card-projeto video {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0 0 10px rgba(0, 255, 225, 0.1);
  object-fit: cover;
}

.card-projeto h3 {
  color: #00ffe1;
  margin-bottom: 10px;
  font-size: 22px;
}

.card-projeto p {
  color: #ccc;
  font-size: 16px;
  margin-bottom: 20px;
}

.card-projeto a {
  background-color: #00ffe1;
  color: #000;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.card-projeto a:hover {
  background-color: #00bfa5;
  transition: 2s;
  color: #fff;
}

/* 
   Rodapé
*/
footer .rodape {
  background-color: #000;
  padding: 0 30px;
}

footer .conteudo-rodape {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  padding: 40px;
  gap: 30px;
  margin: 0 30px;
}

footer .conteudo-rodape a {
  text-decoration: none;
  color: #00ffe1;
  font-weight: bold;
  cursor: pointer;
}

footer .conteudo-rodape a:hover {
  color: #00bfa5;
  transition: 2s;
  text-shadow: 0 0 6px #00ffe1;
}
