/* Animação flutuar */
@keyframes flutuar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #000;
  min-height: 100vh;
}

/*  Navegação  */
.navegacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  max-width: 1280px;
  margin: 0 auto;
}

.logo a {
  font-family: 'Orbitron', sans-serif;
  font-size: 28px;
  color: #00ffe1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: color 2s, text-shadow 2s;
}

.logo a:hover {
  color: #00bfa5;
  text-shadow: 0 0 6px #00ffe1;
}

.logo span {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.navegacao nav ul {
  display: flex;
  list-style: none;
}

.navegacao nav ul li {
  padding: 0 20px;
}

.navegacao nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.navegacao nav ul li a:hover {
  color: #00ffe1;
  transition: color 2s;
}

/*  Container  */
.container {
  max-width: 1280px;
  margin: 60px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
}

/*  Sobre Mim  */
.sobre-mim {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
}

.sobre-mim h2 {
  color: #00ffe1;
  font-size: 2em;
  margin-bottom: 20px;
}

.sobre-mim h2 span {
  color: #fff;
}

.sobre-mim p {
  color: #e0e0e0;
  margin-bottom: 16px;
  text-align: justify;
  line-height: 1.6;
}

.sobre-mim p strong {
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: #00ffe1;
}

/*  Foto  */
.foto {
  flex: 1;
  max-width: 400px;
  height: 600px;
  border-radius: 5%;
  background-image: url("../imagens/Foto.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #00ffe1;
  box-shadow: 0 0 10px rgba(0, 255, 225, 0.4);
  min-width: 280px;
  animation: flutuar 2s ease-in infinite;
}

/*  Habilidades  */
.habilidades {
  width: 100%;
  padding: 40px 20px;
  background-color: #121212;
  text-align: center;
  margin-top: 60px;
}

.habilidades h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
  color: #00ffe1;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.card-habilidade {
  background-color: #1e1e1e;
  border: 2px solid #00ffe1;
  border-radius: 16px;
  width: 280px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 255, 225, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-habilidade:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 20px rgba(0, 255, 225, 0.3);
  transition: transform 1s, box-shadow 1s;
}

.card-habilidade img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-bottom: 10px;
}

.card-habilidade h3 {
  color: #00ffe1;
  margin-bottom: 10px;
}

.card-habilidade p {
  color: #ccc;
  font-size: 0.95em;
  line-height: 1.4;
}

/*  Projetos  */
.projetos {
  width: 100%;
  margin-top: 60px;
  padding: 0 20px;
}

.projetos h2 {
  color: #00bfa5;
  text-align: center;
  padding: 30px 0;
  font-size: 2em;
  font-weight: bold;
}

.projetos-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: stretch;
}

.card-projeto {
  background-color: #1e1e1e;
  border: 2px solid #00ffe1;
  border-radius: 16px;
  width: 600px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 255, 225, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.card-projeto img,
.card-projeto video {
  width: 400px;
  height: 200px;
  border-radius: 11px;
  margin-bottom: 15px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 255, 225, 0.1);
}

.card-projeto h3 {
  color: #00ffe1;
  margin-bottom: 10px;
  font-size: 22px;
}

.card-projeto p {
  color: #ccc;
  font-size: 16px;
  margin-bottom: 20px;
}

.card-projeto a {
  background-color: #00ffe1;
  color: #000;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.card-projeto a:hover {
  background-color: #00bfa5;
  color: #fff;
  transition: background-color 2s;
}

/*  Contato  */
.contato {
  background-color: #121212;
  color: #fff;
  padding: 60px 40px;
  max-width: 600px;
  margin: 90px auto;
  border-radius: 10px;
  text-align: center;
  animation: flutuar 2s ease-in infinite;
  
}

.contato h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #00ffe1;
}

.contatos-lista {
  list-style: none;
  padding: 0;
  font-size: 1.2em;
  line-height: 2.2;
}

.contatos-lista li {
  margin-bottom: 15px;
}

.contatos-lista a {
  color: #00ffe1;
  text-decoration: none;
  font-weight: bold;
  transition: color 2s, text-shadow 2s;
}

.contatos-lista a:hover {
  color: #00bfa5;
  text-shadow: 0 0 6px #00ffe1;
}

/*  Rodapé  */
.rodape {
  background-color: #1e1e1e;
  padding: 0 30px;
}

footer .conteudo-rodape {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  padding: 40px;
  gap: 30px;
  margin: 0 30px;
}

footer .conteudo-rodape a {
  text-decoration: none;
  color: #00ffe1;
  font-weight: bold;
  cursor: pointer;
  transition: color 2s, text-shadow 2s;
}

footer .conteudo-rodape a:hover {
  color: #00bfa5;
  text-shadow: 0 0 6px #00ffe1;
}

/*  Responsividade  */

/* Celulares (até 767px) */
@media (max-width: 767px) {
  .navegacao {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .navegacao nav ul {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .container {
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  .foto {
    flex: none;
    width: 100%;
    height: 550px;
    min-width: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .cards-container {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }

  .card-habilidade {
    width: 100%;
  }

  .habilidades h2 {
    font-size: 2em;
  }

  .projetos-cards {
    flex-direction: column;
    gap: 20px;
  }

  .card-projeto {
    width: 100%;
  }

  .projetos h2 {
    font-size: 1.8em;
  }

  .contato {
    margin-left: 30px;
    margin-right: 30px;
  }
}

/* Tablets (768px a 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }

  .foto {
    flex: none;
    width: 100%;
    max-width: 400px;
    height: 550px;
    min-width: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
  }

  .projetos-cards {
    justify-content: center;
    gap: 20px;
  }

  .card-projeto {
    width: 45%;
  }

  .projetos h2 {
    font-size: 2em;
  }
}
